@*
    Written by Kiara Vaz and Darya Anbar for CS 4485.0W1, Senior Design Project, Started October 20, 2024.
    Net IDs: kmv200000 and dxa200020

    This file outlines the Login Razor Page.
*@


@page
@model StudentPR.Pages.LoginModel
@{
    ViewData["Title"] = "Log In";
}

<h1>Log In</h1>

<!-- Displays success and error messages, if any (Darya) -->
@if (!string.IsNullOrEmpty(Model.ErrorMessage)) // Login attempt fails
{
    <div style="color: red;">@Model.ErrorMessage</div>
}

@if (TempData["SuccessMessage"] != null)  // Password successfully changed
{
    <div style="color: green;">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)  // Any other error message the model sets
{
    <div style="color: red;">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Form for submitting password change data (Kiara) -->
<form method="post">
    <div>
        <label for="netId">NetID:</label>
        <input type="text" id="netId" name="NetId" required />
    </div>
    <div>
        <label for="utdId">Password:</label>
    
        <input type="password" id="utdId" name="UtdId" required />
    </div>
    <button type="submit">Submit</button>
</form>
