@page
@model StudentPR.Pages.PRSuccessModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Peer Review Submitted";
}

<link rel="stylesheet" href="~/css/styles.css" />


<div class="success-message">
    <h2 class="success-title">Submission Complete</h2>
        <p>
            Your peer review has been successfully submitted!
        </p>
        <p>
            If you wish to make any changes to your submission, please contact your professor.
        </p>
</div>
