@page
@model StudentPR.Pages.PeerReviewFormModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Peer Review Submitted";
}

<link rel="stylesheet" href="~/css/styles.css" />

<h2>Peer Review Successfully Submitted!</h2>