@*
    Written by Darya Anbar for CS 4485.0W1, Senior Design Project, Started November 13, 2024.
    Net ID: dxa200020

    This file outlines the Peer Review Success Razor Page.
*@

@page
@model StudentPR.Pages.PRSuccessModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Peer Review Submitted";
}

<link rel="stylesheet" href="~/css/styles.css" />


<div class="success-message">
    <h2>Submission Complete</h2>
        <p>
            Your peer review has been successfully submitted!
        </p>
        <p>
            If you wish to make any changes to your submission, please contact your professor.
        </p>
</div>
