@*
    Written by Darya Anbar for CS 4485.0W1, Senior Design Project, Started November 13, 2024.
    Net ID: dxa200020

    This file outlines the Peer Review Unavailable Razor Page.
*@

@page
@model StudentPR.Pages.PRUnavailableModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Peer Review Unavailable";
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="unavailable-message">
    <h2>Peer Review Unavailable</h2>
        <p>
            You have no peer reviews to complete at this time. Please check back later.
        </p>
</div>