@page
@model StudentPR.Pages.ScoresUnavailableModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Scores Unavailable";
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="unavailable-message">
    <h2>No Scores Available</h2>
        <p>
            You have no scores available at this time. Please check back later.
        </p>
</div>