@*
    Written by Darya Anbar for CS 4485.0W1, Senior Design Project, Started November 13, 2024.
    Net ID: dxa200020

    This file outlines the Scores Razor Page.
*@

@page
@model StudentPR.Pages.ScoresModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Scores";

    // Retrieves criteria, average scores, and review type for use in the form
    var criteriaNames = Model.GetCriteriaNames();
    var scores = Model.GetAverageScores();
    String review_type = Model.GetReviewType();
}

<link rel="stylesheet" href="~/css/styles.css" />

<h2>@review_type Scores</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
     <div style="color: red;">@Model.ErrorMessage</div>
}

<!-- Main container for the average scores -->
<div class="average-scores"> <!-- Table for organizing criteria and average scores -->
    <table class="table">
        <thead>
            <tr>
                <th>Criteria</th>
                @foreach (var criteriaName in criteriaNames)
                {
                    <th>@criteriaName</th>  <!-- Each criterion is a table header -->
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Average Score</strong></td>
                @foreach (var averageScore in scores)
                {
                    <td>@averageScore</td>  <!-- Displays average score -->
                }
            </tr>
        </tbody>
    </table>
</div>
