@*
    Written by Darya Anbar for CS 4485.0W1, Senior Design Project, Started November 13, 2024.
    Net ID: dxa200020

    This file outlines the Scores Unavailable Razor Page.
*@

@page
@model StudentPR.Pages.ScoresUnavailableModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Scores Unavailable";
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="unavailable-message">
    <h2>No Scores Available</h2>
        <p>
            You have no scores available at this time. Please check back later.
        </p>
</div>